
.font-gar {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

.font-mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}


.font-work {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}